body {  
    background-image: url("img/background.png");
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}

input {
    display: none;
}

.chapter {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0;
}

.chapter a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    line-height: 1;
    cursor : pointer;
}

.chapter a:hover {
    background-color: #184552;
    color: #fff;
}

.chapterLabel {
    display: block;
    margin: 0 0 2px 0;
    padding :18px;
    line-height: 1;
    color :#fff;
    cursor :pointer;
}

.normal .chapterLabel {
    background: #007bbb;
}

.hard .chapterLabel {
    background: #c61018; 
}

.chapter ul {
    margin: 0 0 3px 0;
    padding: 0;
    background :#f4f4f4;
    list-style: none;
}

.chapter li {
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
}

#menu_bar1:checked ~ #links1 li,
#menu_bar2:checked ~ #links2 li,
#menu_bar3:checked ~ #links3 li,
#menu_bar4:checked ~ #links4 li,
#menu_bar5:checked ~ #links5 li,
#menu_bar6:checked ~ #links6 li,
#menu_bar7:checked ~ #links7 li,
#menu_bar8:checked ~ #links8 li,
#menu_bar9:checked ~ #links9 li,
#menu_bar10:checked ~ #links10 li {
    max-height: 46px;
    opacity: 1;
}

.bottombutton {
    width: 150px;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.submit {
    color :#fff;
    margin: 0 30px;
}

.submitTitle {
    background: #007bbb;
    margin-top: 20px;
    padding: 5px 0 5px 10px;
    font-weight: 700;
}

.submitArea {
    font-size: 30px;
    padding-right: 10px;
}

.submitAreaName {
    font-size: 23px;
}

.submitDescription {
    padding: 2px 10px 2px 10px;
    background: #3b3b3d;
}

.submitContent {
    background: #444444;
    margin: 0 10px;
    padding: 2px 15px 2px 15px;
}

.character {
    overflow: hidden;
}

.ssr {
    background-color: #ffd966;
}

.sr {
    background-color: #8e7cc3;
}

.r {
    background-color: #6d9eeb;
}

.n {
    background-color: #fff;
}

.rarity {
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 0;
    background: #ccc;
}

.rarityItem {
    display: table-cell;
    text-align: center;
    border-bottom: 3px solid #ccc;
    opacity: 0.8;
}

.rarityItemSelected {
    border: 3px solid #ccc;
    border-bottom: hidden;
    opacity: 1;
}

.rarityItem a {
    display: block;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.characterIcons {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px 5px 10px;
    border: 3px solid #ccc;
    border-top: hidden;
}

.characterItem {
    display: inline;
    position: relative;
    margin: 5px;
}

.characterSelected {
    position: relative;
}

.characterSelected p {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0; */
}