body {
    background-image: url("img/background.png");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin: 0px;
    padding: 0px;
    user-select: none;
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}

input {
    display: none;
}

.chapter {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0;
}

.chapter a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    line-height: 1;
    cursor: pointer;
}

.chapter a:hover {
    background-color: #184552;
    color: #fff;
}

.chapterLabel {
    display: block;
    margin: 0 0 2px 0;
    padding: 18px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}

.chapterNormal .chapterLabel {
    background: #007bbb;
}

.chapterHard .chapterLabel {
    background: #c61018;
}

.chapter ul {
    margin: 0 0 3px 0;
    padding: 0;
    background: #f4f4f4;
    list-style: none;
}

.chapter li {
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
}

#menu_bar1:checked~#links1 li, #menu_bar2:checked~#links2 li, #menu_bar3:checked~#links3 li, #menu_bar4:checked~#links4 li, #menu_bar5:checked~#links5 li, #menu_bar6:checked~#links6 li, #menu_bar7:checked~#links7 li, #menu_bar8:checked~#links8 li, #menu_bar9:checked~#links9 li, #menu_bar10:checked~#links10 li, #menu_bar11:checked~#links11 li {
    max-height: 46px;
    opacity: 1;
}

.bottomButton {
    position: fixed;
    bottom: 10px;
    cursor: pointer;
}

.buttonLeft {
    left: 10px;
}

.buttonRight {
    right: 10px;
}

.normal {
    background: #007bbb;
}

.hard {
    background: #c61018;
}

.submit {
    color: #fff;
    margin: 0 30px;
}

.submitTitle {
    margin-top: 20px;
    padding: 5px 0 5px 10px;
    font-weight: 700;
}

.submitArea {
    font-size: 30px;
    padding-right: 10px;
}

.submitAreaName {
    font-size: 23px;
}

.submitDescription {
    padding: 2px 10px 2px 10px;
    background: #3b3b3d;
}

.submitContent {
    background: #444444;
    margin: 0 10px 50px 10px;
    padding: 2px 15px 20px 15px;
}

.character {
    overflow: hidden;
}

.ssr, .gold {
    background-color: #ffd966;
}

.sr, .purple {
    background-color: #8e7cc3;
}

.r, .blue {
    background-color: #6d9eeb;
}

.n, .white {
    background-color: #fff;
}

.rarity {
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 0;
    background: #ccc;
}

.rarityItem {
    display: table-cell;
    text-align: center;
    border-bottom: 3px solid #ccc;
    opacity: 0.8;
    cursor: pointer;
}

.rarityItemSelected {
    border: 3px solid #ccc;
    border-bottom: hidden;
    opacity: 1;
    cursor: pointer;
}

.rarityItem a {
    display: block;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.iconList {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px 5px 10px;
    border: 3px solid #ccc;
    border-top: hidden;
}

.iconList>div {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.iconListItem, .iconListItemSelected {
    cursor: pointer;
    height: 75px;
}

.iconListItemSelected p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: 0.8px #000;
}

.itemSelected {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 5px;
    animation: select 1050ms infinite;
}

@keyframes select {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.5;
    }
    55% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.counter {
    cursor: default;
}

.arrow {
    vertical-align: middle;
    margin: 0 10px;
    cursor: pointer;
}

.count {
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    -webkit-text-stroke: 1px #000;
}

.blueprintSelected {
    height: 70px;
    width: 70px;
    left: 2px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popupInner {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.confirmList {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin: 75px 0;
    background: rgba(0, 0, 0, 0.5);
}

.confirmButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    cursor: pointer;
}

.confirmFigures {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.confirmListItem {
    display: inline-block;
    width: 75px;
    margin: 5px;
}

.confirmListItem>figcaption>hr {
    width: 85px;
    margin: 1px;
}

.confirmListItem>figcaption {
    margin: 0;
}

.confirmListItem img {
    height: 75px;
}

.confirmLoading {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}

.horizontalInfiniteScroll {
    white-space: nowrap;
    overflow: scroll;
}